main {
    background-image: url("../images/back2.jpg");
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    color: rgb(255, 255, 255);
}

.feedback-form {
    margin-top: 50px;
    position: absolute;
}

form {
    margin-left: 30px;
    line-height: 30px;
}

h2 {
    margin-left: 30px;
}

button {
    background-color: rgb(245, 59, 7);
    border: none;
    color: white;
    padding: 3px 6px 3px 6px;
}

button:hover {
    background-color: black;
}